<div class="wrapper">
  <div class="container">

    <ul class= "list-inline">
      <li class= "list-inline-item">
        <h1>Add Cocktail</h1>
      </li>
      <li class= "list-inline-item">
        <%= link_to "Back to Cocktail List", cocktails_path, class: "btn btn-primary"%>
      </li>
    </ul>
    <div class="vertical-pic">
      <div class="flex-item vertical-form">
        <%= simple_form_for(@cocktail) do |f| %>
          <div class="form-group">
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden, class: 'form-control btn btn-primary' %>
          </div>

          <div class="form-group">
            <%= f.input :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.input :contributor, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.input :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.input :servings, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.input :instructions, class: 'form-control' %>
          </div>

          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="flex-item"></div>
        <%= cl_image_tag "https://res.cloudinary.com/diu66bbfw/image/upload/v1550152006/grapefruitform.jpg", class:"vertical" %>
      </div>
    </div>
  </div>
</div>
